.label1{
    -fx-background-color: linear-gradient(#FFE600,transparent);
    -fx-opacity: 80%;
}

.label2{
    -fx-background-color: linear-gradient(#00A3FF,transparent);
    -fx-opacity: 80%;
}
.label3{
    -fx-background-color: linear-gradient(#FF007A,transparent);
    -fx-opacity: 80%;
}